@model IEnumerable<CabBooking.Models.TripModel>
@{
    ViewBag.Title = "Enquiries";
    ViewBag.Breadcrums = @"<li class=""breadcrumb-item active"" aria-current=""page"">" + ViewBag.Title + "</li>";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />

<div class="row">
    <div class="col-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-info" onclick="window.print()">Print</button>
                        </div>
                    </div>
                </div>
                <table id="myTable" class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Client Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Pickup loc</th>
                            <th>Drop loc</th>
                            <th>Date of enquiry</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int i = 1; }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@i</th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClientName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mobile)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PickupLoc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DropLoc)
                                </td>
                                <td>
                                    @item.DateOfBooking.ToString("dd MMMM, yyyy h:mm tt")
                                </td>
                                <td>
                                    <a href="@Url.Action("AddTrip", "Home", new { id = item.TripID })" class="text-primary">
                                        Add to Trip
                                    </a>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Client Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Pickup loc</th>
                            <th>Drop loc</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

}

